/* Background and layout */
body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #7f00ff, #e100ff);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Container box */
.container {
  background: white;
  padding: 30px 40px;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  width: 350px;
  text-align: center;
}

h2 {
  color: #7f00ff;
  margin-bottom: 20px;
}

/* Input design */
.input-group {
  text-align: left;
  margin-bottom: 15px;
}

label {
  display: block;
  color: #333;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 10px;
  outline: none;
  transition: 0.3s;
}

input:focus {
  border-color: #7f00ff;
}

/* Button */
button {
  width: 100%;
  padding: 10px;
  background: blue;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #e100ff;
}

/* Error message */
.error {
  color: red;
  font-size: 13px;
  margin-top: 3px;
  display: block;
}

